.field-matcher-list-form {
  margin: 0 auto;
  padding: 1rem;
  max-width: 600px;
  font-family: Arial, sans-serif;
}

.field-matcher-list-form fieldset {
  border: none;
}

.field-matcher-list-form legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.field-matcher-list-form__field-matcher {
  display: flex;
  margin-bottom: 1rem;
}

.field-matcher-list-form__field-matcher button {
  margin-left: 1rem;
}

.field-matcher-list-form__add-button {
  margin-top: 1rem;
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.field-matcher-list-form__add-button:hover {
  background-color: #fff;
  color: #0074d9;
  border: 2px solid #0074d9;
}

input[type='text'],
input[type='checkbox'] {
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input[type='checkbox'] {
  margin-left: 0;
}
