@import 'node_modules/bootswatch/dist/lux/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootswatch/dist/lux/bootswatch';

.prevent-animations {
  & .accordion-collapse, & .show {
    transition: none;
  }
}

.accordion > .card {
  &:not(:first-child) {
    border-top: none;
  }
}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
}

.nav-item {
  margin-right: 0 !important;
}

.form-check .form-check-input {
  margin-bottom: 3px;
}
